@{
    ViewData["Title"] = "Logout";
}

<div class="container text-center mt-5">
    <h3 class="fw-bold text-primary">Você saiu da sua conta.</h3>
    <p class="text-muted mb-4">Esperamos te ver novamente em breve!</p>

    <a href="@Url.Action("Index", "Home")" class="btn btn-primary rounded-pill px-4">
        Voltar à página inicial
    </a>
</div>
