@model Transformese.Domain.Entities.Candidato

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Candidato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeCompleto" class="control-label"></label>
                <input asp-for="NomeCompleto" class="form-control" />
                <span asp-validation-for="NomeCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" class="form-control" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cidade" class="control-label"></label>
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PossuiComputador" /> @Html.DisplayNameFor(model => model.PossuiComputador)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PossuiInternet" /> @Html.DisplayNameFor(model => model.PossuiInternet)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PerfilLinkedin" class="control-label"></label>
                <input asp-for="PerfilLinkedin" class="form-control" />
                <span asp-validation-for="PerfilLinkedin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCadastro" class="control-label"></label>
                <input asp-for="DataCadastro" class="form-control" />
                <span asp-validation-for="DataCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEntrevista" class="control-label"></label>
                <input asp-for="DataEntrevista" class="form-control" />
                <span asp-validation-for="DataEntrevista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObservacoesONG" class="control-label"></label>
                <input asp-for="ObservacoesONG" class="form-control" />
                <span asp-validation-for="ObservacoesONG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObservacoesGF" class="control-label"></label>
                <input asp-for="ObservacoesGF" class="form-control" />
                <span asp-validation-for="ObservacoesGF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnidadeId" class="control-label"></label>
                <select asp-for="UnidadeId" class="form-control" asp-items="ViewBag.UnidadeId"></select>
                <span asp-validation-for="UnidadeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CursoId" class="control-label"></label>
                <select asp-for="CursoId" class="form-control" asp-items="ViewBag.CursoId"></select>
                <span asp-validation-for="CursoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
